@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around; /* space out the links themselves */
    align-items: center;
    background-color: #1E6091;
}

nav a {
    display: flex;          /* align icon + text */
    align-items: center;    /* vertically center icon & text */
    gap: 8px;               /* space between icon and text */
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    transition: background-color 0.3s, color 0.3s;
}

nav a i {
    font-size: 20px;
}

nav a:hover {
    background-color: #52B69A;
    color: purple;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#1E6091 ;
    color: white;
}
#logo_link{
    padding: 5px;
    padding-top: 5px;
    width: 80%;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 100px;
    height: auto;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    color: white;
}
#hero-img{
    width: 100%;
}
#faqhero-img{
    width: 100%;
}
.button-box {
    text-align: center;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr) ;
}
main section{
    text-align: center;
    
}
main section img{
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    background-color: antiquewhite;
    color: black;
    font-family: 'inter','Georgia' ;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

h2{
    margin: 0;
}
header{
    background-color:#1E6091 ;
    color: white;
}

nav a:hover{
    background-color:#52B69A ;
    color: purple;
}

.book {
    background-color:#1E6091 ;
    color: white;
    text-decoration: 0;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: #52B69A ;
    color: white;
    text-decoration: 0;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color:#B5E48C ;
    color: #1E6091
}

#background{
    background-color: #52B69A;
    color: #1E6091;
    grid-column: 1/11;
    grid-row: 4/9;
    z-index: 0;
}

.msg{
    background-color:#1E6091; ;
    color: white;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    z-index: 2;
    justify-self: center;
    text-align: center;
    box-shadow: 5px 5px 10px #6f7364;

}
.msg p{
    padding: 15px;
    padding-bottom: 15px;
}

footer{
    background-color:#1E6091 ;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

footer a{
    text-decoration: 0
    ;
}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.icon{
    width: 80px;
}

.home-title{
    font-family: 'League Gothic','inter','Georgia' ;
    font-size: 2em;
    margin-top: 10px;

}
.msg h2{
    font-family: 'League Gothic','inter','Georgia' ;

}

.rivers-card{
    margin-bottom: 200px;
    margin-top: 200px;
    grid-column: 2/4;
    grid-row: 2/3;

}
.camping-card{
    margin-bottom: 200px;
    margin-top: 200px;
    grid-column: 5/7;
    grid-row: 2/3;
}
   
.rapids-card{
    margin-bottom: 200px;
    margin-top: 200px;
    grid-column: 8/10;
    grid-row: 2/3;

}
.card-img {
    border: 10px solid #1E6091;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    z-index: 1;
    box-shadow: 5px 5px 10px #6f7364;
}
.faq-title{
    text-align: center;
    margin-top: 20px;
    display: block;

}
.faq-title h2 {
    display:inline-block;
    background-color: #1E6091;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.faq-main {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 30px; 
    padding: 20px; 
}
.faq1 {
    grid-column: 1/6;
    width: 86%;           
    margin: 30px auto;
    margin-bottom: 5px;         
    padding: 20px 30px;          
    background-color: #52B69A ;  
    border-left: 7px solid #1E6091;  
    border-radius: 10px;     
    box-shadow: 5px 5px 10px #6f7364; 
    text-align: left; 
    color: white;
}
.faq-feedback1 {
    grid-column: 3/6;
    width: 60% ;
    height: 50%;
    bottom: 15px;
    right: 15px;
    background-color: #52B69A;
    border-left: 7px solid #1E6091;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #6f7364;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.feedback-buttons {
    display: flex;
    gap: 10px;
}
.feedback-buttons button:hover {
    transform: scale(1.2);
    background-color: #B5E48C; 
    color: #1E6091;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            