@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

body {
    font-family: "Lato", sans-serif;
    background-color: #DAD7CD;
    color: #344E41;
    margin: 0;
    line-height: 1.5;
}

#content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr; /* header, main, resume, footer */
    gap: 40px;
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 100px;
    opacity: 0.9;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

nav a {
    padding: 10px 25px;
    text-decoration: none;
    color: #344E41;
    font-size: 18px;
    border: 1px solid #A3B18A;
    border-radius: 4px;
    background-color: #DAD7CD;
    transition: 0.2s;
}

nav a:hover {
    background-color: #A3B18A;
    color: #fff;
    border-color: #3A5A40;
}

/* HERO SECTION */
.home-title {
    font-family: "IM Fell French Canon SC", serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
    padding: 12px;
    color: #3A5A40;
    border-bottom: 3px solid #A3B18A;
}

#hero-msg p {
    background-color: #fff;
    padding: 20px 30px;
    max-width: 800px;
    margin: 0 auto 40px auto;
    border: 1px solid #A3B18A;
    border-radius: 6px;
}

/* ABOUT ME + HEADSHOT */
.about-me {
    display: grid;
    grid-template-columns: 2fr 1fr; /* text 2x, image 1x */
    gap: 25px;
    align-items: stretch; /* ensures text and headshot same height */
}

.about-me h2 {
    grid-column: 1 / -1;
    font-family: "IM Fell French Canon SC", serif;
    font-size: 24px;
    background-color: #A3B18A;
    padding: 10px 12px;
    border-left: 5px solid #3A5A40;
    margin-bottom: 12px;
    color: #fff;
}

/* About Me Text */
.about-me p {
    background-color: #fff;
    padding: 18px;
    border: 1px solid #A3B18A;
    border-radius: 6px;
    height: 100%;
    grid-row: 1/3;
}

/* Headshot */
#headshot-box {
    max-width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headshot-img {
    max-height: 100%;
    width: auto;
    border-radius: 6px;
    border: 2px solid #A3B18A;
    object-fit: cover;
}

#resume-container {
    display: flex;             /* makes centering easy */
    justify-content: center;   /* horizontally center the image */
    margin-top: 35px;
}

#resume {
    width: 80%;        /* scales relative to container */
    max-width: 500px;  /* absolute maximum width */
    border: 2px solid #A3B18A;
    border-radius: 6px;
    display: block;
}
/* FOOTER */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 15px 20px;
    background-color: #344E41;
    color: #DAD7CD;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
}
